.App {
  text-align: center;
}

.ListView {
  display:flex;
  /* background-color: aqua; */
}

.MapView {
  position: relative;
}


.ListView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
 }

 .MapView .MapSingleRoom {
  position: absolute;
  border: 3px solid #73AD21;
}
.ListView .MapSingleRoom {
  border: 3px solid #73AD21;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

